* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-family: "rubik", sans-serif;
  color: #444;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 145px;
  margin-right: 180px;
  padding-top: 20px;
  font-weight: 600;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

p {
  margin-bottom: 25px;
}

button {
  display: inline-block;
  background-color: #fd7e14;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
  color: #f1f3f5;
  font-weight: 700;
  transform: translate(0, 50%);
}

.container {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(image/hero.jpg);

  background-size: cover;
  height: 100vh;
  position: relative;
}
.container,
.navigation,
.purpose {
  color: #f1f3f5;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-77%, -55%);
  padding-right: 100px;
}
